@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.ttf") format("truetype");
}

@font-face {
    font-family: "Noto";
    src: url("/fonts/Noto.ttf") format("truetype");
}


/* 设置全局字体 */

* {
    font-family: "Inter";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html.lenis,
html.lenis body {
    /* height: 900vh; */
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


/* 针对Webkit浏览器（如Chrome、Safari） */

::-webkit-scrollbar {
    width: 2px;
    /* 垂直滚动条宽度 */
    height: 0;
    /* 水平滚动条高度 */
}


/* 针对Firefox浏览器 */


/* html {
    scrollbar-width: none;
} */


/* 针对旧版IE浏览器 */


/* body {
    -ms-overflow-style: none;
} */